<section class="mb-5 text-center">
  <h1 class="h3 mb-1 animate-h1">Toe Arkar</h1>
  <p class="text-muted mb-3">Profolio</p>
</section>

<style>
  .animate-h1 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlide 1.5s ease-out forwards;
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
