---
import SectionCard from './SectionCard.astro';
---
<SectionCard title="Open to New Challenges" icon="bi bi-flag-fill">
  <p>
    I am eager to learn more about any opportunities that may be available. Please do not hesitate to contact me if you have any information.
  </p>
</SectionCard>
