---
import { techStacks_icons as skills } from "../data/cvData";
---

<main>
  <section class="skills-section">
    <div class="skills-grid">
      {skills.map(skill => (
        <div class="skill-item">
          <img src={skill.src} alt={skill.alt} />
        </div>
      ))}
    </div>
  </section>
</main>

<style>
  .skills-section {
    text-align: center;
    margin-top: 2rem;
  }

  .skills-grid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll; /* Change overflow to scroll */
    animation: moveRight 60s linear infinite;
  }

  .skill-item {
    display: inline-block;
    flex-shrink: 0;
  }

  .skill-item img {
    width: 60px;
    height: 60px;
    margin: 0 1rem;
  }

  @keyframes moveRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .skills-grid {
      gap: 1rem;
      animation: moveRight 50s linear infinite;
    }

    .skill-item img {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 480px) {
    .skills-grid {
      gap: 0.5rem;
      animation: moveRight 40s linear infinite;
    }

    .skill-item img {
      width: 40px;
      height: 40px;
    }
  }
</style>